@mixin font-face($font-family, $url, $weight: null, $style: null, $unicode: null) {
  @font-face {
    src: url('#{$url}.woff2') format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;

    @if $unicode {
      unicode-range: #{$unicode};
    }
  }
}