<section class="article-popular @sectionClass">
  <div class="article-popular__container container">
    <div class="article-popular__inner">
      <h2 class="article-popular__title h2">
        @title <span>@titleAccent</span>
      </h2>

      <div class="article-popular__content">
        <button class="sub-services__nav sub-services__nav--prev btn-reset" type="button" aria-label="Previous service">
          <svg viewBox="0 0 20 20" aria-hidden="true">
            <use href="img/svg/sprite.svg#arrow-max"></use>
          </svg>
        </button>

        <div class="article-popular__slider swiper js-article-popular-slider">
          <ul class="article-popular__slider-wrapper swiper-wrapper list-reset js-news-articles-grid">
            <li class="article-popular__slider-item swiper-slide">
              <article class="news-articles-card js-animation-card">
                <a class="news-articles-card__link" href="article.html" data-video="video/work-1.mp4">
                  <div class="news-articles-card__media">
                    <div class="news-articles-card__parallax js-animation-card__parallax">
                      <div class="news-articles-card__media-inner">
                        <picture class="works-card__image">
                          <source srcset="img/works/work-1.avif" type="image/avif">
                          <source srcset="img/works/work-1.webp" type="image/webp">
                          <img src="img/works/work-1.jpg" alt="Dubai Racing Club">
                        </picture>
                      </div>
                    </div>
                  </div>

                  <div class="news-articles-card__overlay"></div>

                  <div class="news-articles-card__content">
                    <div class="news-articles-card__top">
                      <h3 class="news-articles-card__title">Dubai Racing Club</h3>

                      <div class="news-articles-card__info">
                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#date"></use>
                          </svg>

                          <p>
                            06.05.2025
                          </p>
                        </div>

                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#view"></use>
                          </svg>

                          <p>
                            123
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="news-articles-card__bottom">
                      <button type="button" class="news-articles-card__button btn-arrow btn-reset">
                        <span>Read More</span>

                        <svg viewBox="0 0 20 20" aria-hidden="true">
                          <use href="img/svg/sprite.svg#arrow-max"></use>
                        </svg>
                      </button>

                      <span class="news-articles-card__tags">Paid Media | CRM</span>
                    </div>
                  </div>
                </a>
              </article>
            </li>

            <li class="article-popular__slider-item swiper-slide">
              <article class="news-articles-card js-animation-card">
                <a class="news-articles-card__link" href="article.html" data-video="video/work-1.mp4">
                  <div class="news-articles-card__media">
                    <div class="news-articles-card__parallax js-animation-card__parallax">
                      <div class="news-articles-card__media-inner">
                        <picture class="works-card__image">
                          <source srcset="img/works/work-1.avif" type="image/avif">
                          <source srcset="img/works/work-1.webp" type="image/webp">
                          <img src="img/works/work-1.jpg" alt="Dubai Racing Club">
                        </picture>
                      </div>
                    </div>
                  </div>

                  <div class="news-articles-card__overlay"></div>

                  <div class="news-articles-card__content">
                    <div class="news-articles-card__top">
                      <h3 class="news-articles-card__title">Dubai Racing Club</h3>

                      <div class="news-articles-card__info">
                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#date"></use>
                          </svg>

                          <p>
                            06.05.2025
                          </p>
                        </div>

                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#view"></use>
                          </svg>

                          <p>
                            123
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="news-articles-card__bottom">
                      <button type="button" class="news-articles-card__button btn-arrow btn-reset">
                        <span>Read More</span>

                        <svg viewBox="0 0 20 20" aria-hidden="true">
                          <use href="img/svg/sprite.svg#arrow-max"></use>
                        </svg>
                      </button>

                      <span class="news-articles-card__tags">Paid Media | CRM</span>
                    </div>
                  </div>
                </a>
              </article>
            </li>

            <li class="article-popular__slider-item swiper-slide">
              <article class="news-articles-card js-animation-card">
                <a class="news-articles-card__link" href="article.html" data-video="video/work-1.mp4">
                  <div class="news-articles-card__media">
                    <div class="news-articles-card__parallax js-animation-card__parallax">
                      <div class="news-articles-card__media-inner">
                        <picture class="works-card__image">
                          <source srcset="img/works/work-1.avif" type="image/avif">
                          <source srcset="img/works/work-1.webp" type="image/webp">
                          <img src="img/works/work-1.jpg" alt="Dubai Racing Club">
                        </picture>
                      </div>
                    </div>
                  </div>

                  <div class="news-articles-card__overlay"></div>

                  <div class="news-articles-card__content">
                    <div class="news-articles-card__top">
                      <h3 class="news-articles-card__title">Dubai Racing Club</h3>

                      <div class="news-articles-card__info">
                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#date"></use>
                          </svg>

                          <p>
                            06.05.2025
                          </p>
                        </div>

                        <div class="news-articles-card__info-item">
                          <svg viewBox="0 0 24 24" aria-hidden="true">
                            <use href="img/svg/sprite.svg#view"></use>
                          </svg>

                          <p>
                            123
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="news-articles-card__bottom">
                      <button type="button" class="news-articles-card__button btn-arrow btn-reset">
                        <span>Read More</span>

                        <svg viewBox="0 0 20 20" aria-hidden="true">
                          <use href="img/svg/sprite.svg#arrow-max"></use>
                        </svg>
                      </button>

                      <span class="news-articles-card__tags">Paid Media | CRM</span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div>

        <button class="sub-services__nav sub-services__nav--next btn-reset" type="button" aria-label="Next service">
          <svg viewBox="0 0 20 20" aria-hidden="true">
            <use href="img/svg/sprite.svg#arrow-max"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>