<section class="awards">
  <div class="awards__inner">
    <h2 class="awards__title">Award-winning agency</h2>

    <div class="awards__marquee">
      <div class="awards__track">

        <div class="awards__list">
          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/1.png" alt="PMW Awards Global">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Best Affiliate &amp; Partnership Marketing Agency</li>
              <li>Silver Award</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/5.png" alt="Hello Partner">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Top 30 Global Affiliate Agencies</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/2.png" alt="Performance Marketing Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Independent Agency</li>
              <li>Highly Commended</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/3.png" alt="Global Performance Marketing Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Global Agency of the Year</li>
              <li>Highly Commended</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/4.png" alt="Golden Link Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Agency of the Year</li>
              <li>Highly Commended</li>
            </ul>
          </article>
        </div>

        <div class="awards__list">
          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/1.png" alt="PMW Awards Global">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Best Affiliate &amp; Partnership Marketing Agency</li>
              <li>Silver Award</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/5.png" alt="Hello Partner">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Top 30 Global Affiliate Agencies</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/2.png" alt="Performance Marketing Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Independent Agency</li>
              <li>Highly Commended</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/3.png" alt="Global Performance Marketing Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Global Agency of the Year</li>
              <li>Highly Commended</li>
            </ul>
          </article>

          <article class="award-card">
            <div class="award-card__logo">
              <img src="img/awards/4.png" alt="Golden Link Awards">
            </div>

            <ul class="award-card__meta list-reset">
              <li>Agency of the Year</li>
              <li>Highly Commended</li>
            </ul>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>