<header class="header">
  <div class="header__inner">
    <a href="/" class="header__logo logo" aria-label="Acquire home">
      <svg width="76" height="24" viewBox="0 0 76 24">
        <use href="img/svg/sprite.svg#logo-desc" viewBox="0 0 76 24"></use>
      </svg>
    </a>

    <nav class="header__nav nav" aria-label="Main navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item nav__item--has-dropdown">
          <button
              class="nav__link nav__toggle btn-reset"
              type="button"
              aria-expanded="false"
              aria-controls="services-dropdown"
          >
            <span>Services</span>

            <svg class="nav__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
              <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
            </svg>
          </button>

          <div class="nav__dropdown dropdown" id="services-dropdown">
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">
                <a href="service.html" class="dropdown__link">
                  <span>Affiliate Marketing</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  <span>Brand Partnerships</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  <span>Influencer Marketinga</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  <span>Paid Media - Paid Ads &amp; PPC</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  <span>SEO, GEO - Technical/Semantic</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  <span>CRM &amp; Customer Experience</span>
                  <svg class="dropdown__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                    <use href="img/svg/sprite.svg#arrow" viewBox="0 0 16 16"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav__item">
          <a href="our-work.html" class="nav__link">Our work</a>
        </li>
        <li class="nav__item">
          <a href="about-us.html" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="contacts.html" class="nav__link">Contacts</a>
        </li>
        <li class="nav__item">
          <a href="news.html" class="nav__link">News</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<a href="#form" class="header__cta btn-audit btn-reset">Request a free audit</a>