<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F0EFEB">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="img/favicon/site.webmanifest" />

  <title>Monolith — Branding & Digital Studio</title>
  <meta name="description" content="Monolith Lab — студия брендинга и digital-дизайна. Создаём фирменный стиль, сайты и визуальные системы для компаний и стартапов." />
  <meta name="keywords" content="брендинг, бренд дизайн, айдентика, фирменный стиль, дизайн сайта, веб дизайн, digital студия, branding studio, monolith lab" />

  <meta name="robots" content="index, follow" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Monolith Lab" />
  <meta property="og:title" content="Monolith Lab — Branding & Digital Studio" />
  <meta property="og:description" content="Создаём фирменный стиль, сайты и визуальные системы для компаний и стартапов." />
  <meta property="og:url" content="https://monolithlab.io/" />
<!--  <meta property="og:image" content="https://monolithlab.io/img/og-cover.jpg" />-->
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Monolith Lab — Branding & Digital Studio" />
  <meta name="twitter:description" content="Создаём фирменный стиль, сайты и визуальные системы для компаний и стартапов." />
<!--  <meta name="twitter:image" content="https://monolithlab.io/img/og-cover.jpg" />-->

  <link rel="canonical" href="https://monolith.io/" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/@studio-freight/lenis"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script defer src="js/main.js"></script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Monolith Lab",
      "url": "https://monolithlab.io",
      "email": "info@monolithlab.io",
      "sameAs": [],
      "logo": "https://monolithlab.io/img/logo.png"
    }
  </script>
</head>
