<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F0EFEB">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="img/favicon/site.webmanifest" />
  <<title>Monolith - Политика конфиденциальности</title>
  <meta name="description" content="Политика конфиденциальности Monolith: какие данные обрабатываем, цели, сроки хранения, ваши права и контакты." />
  <link rel="canonical" href="https://monolithlab.io/legal" />

  <meta property="og:title" content="Политика конфиденциальности — Monolith" />
  <meta property="og:description" content="Какие данные обрабатываем, цели, сроки хранения и ваши права." />

  <link rel="canonical" href="https://monolithlab.io/" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Monolith" />
  <meta property="og:title" content="Monolith — Branding & Digital Studio" />
  <meta property="og:description" content="Создаём фирменный стиль, сайты и визуальные системы для компаний и стартапов." />
  <meta property="og:url" content="https://monolithlab.io/" />
<!--  <meta property="og:image" content="https://monolithlab.io/img/og-cover.jpg" />-->
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Monolith — Branding & Digital Studio" />
  <meta name="twitter:description" content="Создаём фирменный стиль, сайты и визуальные системы для компаний и стартапов." />
<!--  <meta name="twitter:image" content="https://monolithlab.io/img/og-cover.jpg" />-->

  <link rel="canonical" href="https://monolith.io/" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://unpkg.com/@studio-freight/lenis"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
  <script defer src="js/main.js"></script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Monolith Lab",
      "url": "https://monolithlab.io",
      "email": "info@monolithlab.io",
      "sameAs": [],
      "logo": "https://monolithlab.io/img/logo.png"
    }
  </script>
</head>
