<section class="numbers">
  <div class="container">
    <div class="numbers__inner">
      <div class="numbers__top">
        <h2 class="numbers__title h2">
          DRIVING GLOBAL GROWTH <span>THROUGH DIGITAL</span> EXCELLENCE
        </h2>

        <p class="numbers__text">
          Over the last 12 years, we have
        </p>

        <button type="button" class="numbers__btn btn-reset">
          <a class="btn-arrow" href="#">
            <span>About Us</span>

            <svg viewBox="0 0 20 20" aria-hidden="true">
              <use href="img/svg/sprite.svg#arrow-max"></use>
            </svg>
          </a>
        </button>
      </div>

      <div class="numbers__items">
        <div class="numbers__item">
          <div class="numbers__value numbers__value--wide js-counter" data-value="200" data-prefix="$" data-suffix="m+">0</div>
          <div class="numbers__label">Generated worldwide</div>
        </div>

        <div class="numbers__item">
          <div class="numbers__value js-counter" data-value="60" data-suffix="+">0</div>
          <div class="numbers__label">Brands</div>
        </div>

        <div class="numbers__item">
          <div class="numbers__value js-counter" data-value="15" data-suffix="+">0</div>
          <div class="numbers__label">Countries</div>
        </div>
      </div>
    </div>
  </div>
</section>