.article-offer {
  margin-top: -40px;
}

.article-post {
  padding-top: 100px;
  padding-bottom: 80px;

  @include lg {
    padding-top: calc(112px - 40px);
  }

  @include md {
    padding-top: calc(102px - 40px);
    padding-bottom: 40px;
  }
}

.article-post__container {
  margin: 0 auto;
  width: 100%;
  max-width: 882px;

  @include lg {
    max-width: 100%;
  }
}

.article-post__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--blue-text);
  padding-bottom: 40px;
  gap: 60px;

  @include lg {
    gap: 40px;
  }

  @include md {
    padding-bottom: 30px;
    gap: 30px;
  }
}

.article-post__title {
  width: 100%;
  font-family: "BebasNeue-Regular", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 80%; /* 56px */
  text-transform: uppercase;
  color: var(--dark-blue);

  @include lg {
    font-size: 50px;
    line-height: 100%;
  }

  @include md {
    font-size: 30px;
  }
}

.article-post__intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;

  @include md {
    gap: 20px;
    flex-wrap: wrap;
  }
}

.article-post__author {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  @include md {
    gap: 12px;
  }
}

.article-post__author-avatar {
  display: block;
  flex-shrink: 0;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  background-image: url("../img/article/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include md {
    width: 60px;
    height: 60px;
  }
}

.article-post__author-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.article-post__author-row {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.article-post__author-name {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-blue);

  @include md {
    font-size: 18px;
  }
}

.article-post__author-role {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--blue-grey);
}

.article-post__author-company {
  font-size: 16px;
  line-height: 1;
  color: var(--dark-blue);

  @include md {
    font-size: 14px;
  }
}

.article-post__meta {
  display: flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  color: var(--blue-grey);
  gap: 8px;
}

.article-post__meta-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--blue-grey);
}

.article-post__date,
.article-post__meta-separator,
.article-post__read-time {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.article-post__share-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.article-post__share-link {
  display: block;
  width: 24px;
  height: 24px;

  @include md {
    height: 26px;
    width: 26px;
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
    color: var(--blue-grey);
    transition: color 0.2s ease;

    @include hover {
      color: var(--yellow-accent);
    }
  }
}

.article-post__content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 60px;

  @include md {
    gap: 30px;
    padding-top: 30px;
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 881 / 400;
    }

    figcaption {
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
      color: var(--blue-grey);

      @include md {
        font-size: 14px;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include md {
      gap: 12px;
    }

    h2 {
      font-family: "BebasNeue-Regular", sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--dark-blue);

      @include md {
        font-size: 24px;
      }
    }

    p, li, a {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 1.5;
      color: var(--blue-dark-text);
      gap: 20px;

      @include md {
        font-size: 14px;
      }
    }

    ul {
      list-style: none;

      li {
        position: relative;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        gap: 8px;

        &::before {
          content: "•";
          position: relative;
        }
      }
    }

    a {
      transition: color 0.2s ease;

      @include hover {
        color: var(--yellow-accent);
      }
    }
  }
}

.article-popular {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;

  @include md {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.article-popular__title {
  margin-bottom: 40px;

  @include md {
    margin-bottom: 30px;
  }
}

.article-popular__content {
  position: relative;
}

.article-popular__slider {
  overflow: visible;
}