.legal {
  padding-top: 120px;
  padding-bottom: 80px;

  @include md {
    padding-top: 150px;
    padding-bottom: 110px;
  }

  @include lg {
    padding-top: 170px;
    padding-bottom: 120px;
  }
}

.legal__title {
  margin: 0 auto 100px;
  text-align: center;
  font-weight: 500;

  @include md {
    margin-bottom: 150px;
  }
}

/* ширина “листа” */
.legal__content {
  max-width: 800px; /* читабельная ширина */
  margin: 0 auto;
  padding: 0 6px; /* чтобы не липло к краям на мобиле */

  @include md {
    padding: 0;
  }

  p, h2 {
    margin: 0 0 14px;
    color: rgba(13, 16, 18, 0.75);
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 1.65;

    @include md {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  strong {
    color: rgba(13, 16, 18, 0.9);
    font-weight: 600;
  }

  ul {
    margin: 0 0 14px;
    padding-left: 18px;

    @include md {
      margin-bottom: 16px;
    }

    li {
      margin-bottom: 8px;
      color: rgba(13, 16, 18, 0.75);
      font-family: "Inter-Regular", sans-serif;
      font-size: 14px;
      line-height: 1.65;

      @include md {
        font-size: 16px;
      }
    }
  }

  a {
    color: var(--accent, #E61700);
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s ease;

    @include hover {
      opacity: 1;
    }
  }
}