*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  background: var(--white);
}

body.is-loading {
  overflow: hidden;
}

body.popup-open {
  overflow: hidden !important;
}

html.popup-open {
  overflow: hidden !important;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: auto;
}

/* Скроллбар для попапа с Lenis */
body::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--blue-text);
}

/* Для Firefox */
html {
  scrollbar-color: var(--blue-dark-text) rgba(0, 0, 0, 0.05);
  scrollbar-width: thin;
}

html { font-size: 1rem; }
@media screen and (max-width:1920px) { html { font-size: calc(0.46428571428571425rem + 0.44642857142857145vw); } }


.page {
  min-height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

input, textarea, select {
  outline: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

// тут начало
.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 40px;
  max-width: calc(1920px + 40px * 2);


  @include lg {
    padding: 0 20px;
    max-width: calc(1580px + 20px * 2);
  }

  @include md {
    padding: 0 15px;
    max-width: calc(1580px + 15px * 2);
  }
}

.hidden {
  display: none;
}

.main {
  background: var(--white);
  position: relative;
}

.h2 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @include lg {
    font-size: 50px;
  }

  @include md {
    font-size: 40px;
  }

  span {
    color: var(--blue-accent);
  }
}

.btn-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  color: var(--blue-accent);
  border: 2px solid var(--blue-accent);
  border-radius: 4px;
  text-decoration: none;
  background: transparent;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease;

  @include hover {
    color: var(--white);
    background: var(--yellow-accent);
    border-color: var(--yellow-accent);
  }

  svg {
    fill: currentColor;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  @include md {
    min-height: 48px;
    border-radius: 2px;
  }

  &--full {
    background: var(--blue-accent);
    color: var(--white);
  }
}