// colors
:root {
  // base
  --font-family: "FunnelDisplay-Regular", sans-serif;

  // colors
  --back: #F0EFEB;
  --accent: #E61700;
  --dark: #0D1012;
  --light-grey: #D9D9D9;
  --border-light: rgba(255, 255, 255, 0.05);
  --border-dark: rgba(0, 0, 0, 0.10);
  --grey: #959594;
}
