// colors
:root {
  // base
  --font-family: "Roboto-Regular", sans-serif;

  // colors
  --dark-blue: #1F2640;
  --white: #FAFBFC;
  --blue-accent: #6D9DEF;
  --yellow-accent: #DBAD00;
  --blue-text: #DCE3EA;
  --blue-grey: #8FA3B5;
  --blue-dark-text: #5F6C8C;
}
